#KiCad
fp-info-cache
*.lck
*-bak
**/*-backups/*
**/*autosave*
**/*auto_save*
*.gbr*
*.drl

#MacOS
.DS_Store

#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

#pio
src/**/.pio
src/**/.vscode/.browse.c_cpp.db*
src/**/.vscode/c_cpp_*.json
src/**/.vscode/launch.json
src/**/.vscode/ipch

#Misc
*.zip
kvm.csv
